@import './MixinsVariables.modules.scss';

#root {
  max-width: 100vw;
  font-family: "GC";
}

.AppWrapper {
  display: grid; 
  grid-template-columns: repeat(5, 1fr); 
  grid-template-rows: repeat(5, 1fr); 
  grid-column-gap: 0px;
  grid-row-gap: 0px; 
  }



