@import './MixinsVariables.modules.scss';


#root {
    font-family: "GC";
}

// DESKTOP

@media only screen and (min-width: 700px) {

    .ProductDetailWrapper {
        width: 100%;
        height: auto;
        overflow-y: scroll;

        .ImgSlider {
            height: 400px;
        }
    }
    .ButtonsWrapper {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row;
        justify-content: left;
    }
    .ImageCarousel {
        height: 60vh;
        display: flex;
        flex-direction: row;
        gap: 0px;
        overflow-x: scroll;
        li {
            list-style: none;
        }
        img {
            height: 100%;
            object-fit: fill;
        }
    }

}

// EDIT ITEM PAGE

.FormWrapper {
    display: flex;
    flex-direction: column;
    padding-inline: 8px;
    width: 100%;
    gap: 8px;

    .FormContent {
        display: flex;
        flex-direction: column;
        gap: 8px;



        .FormItem {
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            align-items: baseline;


            input,
            textarea {
                width: 100%;
                font-family: "GC";
                height: 32px;

            }

            textarea {
                height: 15vh;
            }
        }
    }

}

// MOBILE
@media only screen and (max-width: 700px) {
    .ProductDetailWrapper {
        width: 100%;
        height: auto;
        overflow-y: scroll;
    }

    .ImageCarousel {
        height: 50vh;
        display: flex;
        flex-direction: row;
        gap: 0px;
        overflow-x: scroll;

        li {
            list-style: none;
            height: 100%;

        }

        img {
            height: 100%;
            object-fit: fill;
        }
    }

    .ButtonsWrapper {
        width: 100%;
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: left;
    }
}