@import './MixinsVariables.modules.scss';

.ImageCarousel {
    height: 60vh;
    display: flex;
    flex-direction: row;
    gap: 0px;
    overflow-x: scroll;

    li {
        list-style: none;
    }

    img {
        height: 100%;
        object-fit: fill;
    }
}

// @media only screen and (max-width: 700px) {
//     .ImageCarousel {
//         height: 50vh;
//         display: flex;
//         flex-direction: row;
//         gap: 0px;
//         overflow-x: scroll;

//         li {
//             list-style: none;
//             height: 100%;

//         }

//         img {
//             height: 100%;
//             object-fit: fill;
//         }
//     }
// }