@import './MixinsVariables.modules.scss';


.NavBarWrapper {
    width: 100%;
    background-color: $base-color;
    text-align: justify;
    height: 10vh;
    position: sticky;
    top: 0;
    z-index: 1;



    h1 {
        text-align: justify;
        @include H1();




    }
    :after {
        content: "";
        display: inline-block;
        width: 100%;
      }
      :link {
    text-decoration: none;
    color: black;

    :visited {
    }
}
}
